{{> navbar_index}}




<div class="container mt-4">
  <div class="card mx-auto" style="max-width: 800px;">
    <div class="card-header bg-light">
      {{i18n "conversation"}}
    </div>
    <div class="card-body p-4" id="cardsContent" style="height: 500px; overflow: auto;">
      {{#each messages}}
      {{#ifEquals this.senderID this.userID }}
      <div class="d-flex flex-row-reverse mb-4">
        <div class="position-relative avatar">
          <img src="/images/user.png" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="pe-2">
          <div class="card d-inline-block p-2 px-3 m-1 bg-primary text-white" data-toggle="tooltip" data-placement="top" title="{{this.createdAt}}">
            Me:<br>
            {{this.text}}
          </div>
        </div>
      </div>
      {{else}}
      <div class="d-flex flex-row mb-4">
        <div class="position-relative avatar">
          <img src="/images/user.png" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="pe-2">
          <div>
            <div class="card d-inline-block p-2 px-3 m-1 bg-secondary text-white" data-toggle="tooltip" data-placement="top" title="{{this.createdAt}}">
              {{this.sender}}:<br>
              {{this.text}}
            </div>
          </div>
        </div>
      </div>
      {{/ifEquals}}
      {{/each}}

    </div>
    <div class="card-footer bg-light position-relative bottom-0 m-0 p-1">
      <form id="form" action="">
        <input class="form-control" placeholder="{{i18n "write a message"}}" id="input" autocomplete="off" />
        <div class="text-right pt-1">
          <button class="btn btn-primary">{{i18n "send"}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var form = document.getElementById('form');
  var input = document.getElementById('input');
  var cardsContent = document.getElementById("cardsContent");
  cardsContent.scrollTop = cardsContent.scrollHeight;
  form.addEventListener('submit', function (e) {
    e.preventDefault();
    if (input.value) {
      socket.emit('chat message', input.value, "{{senderName}}", "{{currentUser}}", "{{conversationID}}");
      input.value = '';
    }
  });
  socket.on('chat message', function (msg, senderName, senderID) {
    var item = document.createElement('div');
    var avatar = document.createElement('div');
    var img = document.createElement('img');
    var subitem = document.createElement('div');
    var card = document.createElement('div');
    avatar.className = "position-relative avatar";
    img.src = "/images/user.png";
    img.className = "img-fluid rounded-circle";
    img.alt = "";
    card.className = "card d-inline-block p-2 px-3 m-1";
    card.textContent = msg;
    if (senderID === "{{currentUser}}") {
      item.className = "d-flex flex-row-reverse mb-4";
      card.classList.add('bg-primary');
    } else {
      item.className = "d-flex flex-row mb-4";
      card.classList.add('bg-secondary');
    }
    card.classList.add('text-white');
    subitem.appendChild(card);
    avatar.appendChild(img);
    item.appendChild(avatar);
    item.appendChild(subitem);
    cardsContent.appendChild(item);
    cardsContent.scrollTop = cardsContent.scrollHeight;
  });
</script>