{{> navbar_index}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{flash.text}}</strong>
</div>
{{/if}}



<div class="container-fluid bg pt-3">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newChatModal">{{i18n "new chat"}}</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newGroupChatModal">{{i18n "group chat"}}</button>
      </div>
      {{#each conversations}}
      <div class="pt-2">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">
              {{#ifEquals this.conversationType "normal"}}
              {{this.conversationMembers.0.username}}
              {{/ifEquals}}
              {{#ifEquals this.conversationType "group"}}

              {{/ifEquals}}
            </h5>
            <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content
              is a little longer.</p>
            <div class="text-center">
              <a href="/conversations/{{this.conversationID}}" class="btn btn-primary"><i class="fas fa-hand-pointer"></i> {{i18n "choose"}}</a>
              <a href="/conversations/delete/{{this.conversationID}}" class="btn btn-primary"><i class="fas fa-trash-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
  </div>
</div>

<!-- Modal New Chat -->
<div class="modal fade" id="newChatModal" tabindex="-1" role="dialog" aria-labelledby="newChatModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newChatModalLabel">{{i18n "new chat"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/conversations/createChat">
        <div class="modal-body">
          <div class="form-group">
            <label for="chatWith">{{i18n "chat with"}}</label>
            <select id="userSelect" name="userSelect" class="form-control">
              {{#each users}}
              <option value="{{this.userID}}">{{this.username}} {{this.surname}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label for="username">{{i18n "selected friend"}}</label>
            <input type="text" name="username" value="{{users.0.username}} {{users.0.surname}}" id="username"
              class="form-control" readonly>
            <div class="text-center">
              <a id="userDetails" href="/users/user/{{users.0.userID}}">{{i18n "show user details"}}</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{i18n "close"}}</button>
          <input type="submit" value="{{i18n "choose"}}" id="submit" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal New Group Chat -->
<div class="modal fade" id="newGroupChatModal" tabindex="-1" role="dialog" aria-labelledby="newChatModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newChatModalLabel">{{i18n "new chat"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>


<script>
  document.getElementById("userSelect").addEventListener('change', (event) => {
    var selectedIndex = event.target.selectedIndex;
    document.getElementById("username").value = event.srcElement[selectedIndex].label;
    document.getElementById("userDetails").href = "/users/user/" + event.target.value;
  })
</script>