{{> navbar_index}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{flash.text}}</strong>
</div>
{{/if}}



<div class="container mt-4">
  <div class="card mx-auto" style="max-width: 1000px;">
    <div class="card-header bg-light">
      <form id="form" action="">
        <label>{{i18n "new post"}}</label>
        <input class="form-control" placeholder="{{i18n "whats new"}}" id="input" autocomplete="off" />
        <div class="text-right pt-1">
          <button class="btn btn-primary">{{i18n "add post"}}</button>
        </div>
      </form>
    </div>
    <div class="card-body p-4" id="cardsContent" style="height: 800px;">
      <div class="text-center">
        <h2>{{i18n "posts"}}</h2>
      </div>
      <ul>
        {{#each posts}}
        <li>
          {{this}}
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>


<script>
  setTimeout(function () {
    $('#flash').remove();
  }, 3000);
</script>