{{> navbar_index}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{flash.text}}</strong>
</div>
{{/if}}



<div class="container mt-4">
  <div class="card mx-auto" style="max-width: 1000px;">
    <div class="card-header bg-light">
      <form id="form" action="">
        <label>{{i18n "new post"}}</label>
        <input class="form-control" placeholder="{{i18n "whats new"}}" id="input" autocomplete="off" />
        <div class="text-right pt-1">
          <button class="btn btn-primary">{{i18n "add post"}}</button>
        </div>
      </form>
    </div>
    <div class="card-body p-4" style="height: 800px; overflow: auto;">
      <div class="text-center">
        <h2>{{i18n "posts"}}</h2>
      </div>
      <div class="text-right">
        <label for="sort">{{i18n "sort by"}}</label>
        <select name="sort" id="sort">
          <option value="newest">{{i18n "newest"}}</option>
          <option value="oldest">{{i18n "oldest"}}</option>
        </select>
      </div>
      <div id="cardsContent">

        {{#each posts}}
        <div class="card mx-auto pt-1">
          <div class="card-header bg-light">

            <div class="d-flex justify-content-start">
              <div class="position-relative avatar">
                <img src="/images/user.png" class="img-fluid rounded-circle" alt="">
              </div>
              <div class="pl-2">
                {{#ifEquals this.userID this.currentUserID}}
                <a href="/users/myProfile">{{this.username}} {{this.usersurname}}</a>
                {{else}}
                <a href="/users/user/{{this.userID}}">{{this.username}} {{this.usersurname}}</a>
                {{/ifEquals}}
                <br>
                {{this.created}}
              </div>
            </div>
            {{#ifEquals this.userID this.currentUserID}}
            <div class="d-flex justify-content-end" style="position: absolute; top: 10px; right: 10px;">
              <select id="{{this._id}}" onchange="setSelect(event)">
                <option value="default">-{{i18n "action"}}-</option>
                <option value="edit/{{this._id}}">{{i18n "edit"}}</option>
                <option value="delete/{{this._id}}">{{i18n "delete"}}</option>
              </select>
            </div>
            {{/ifEquals}}
          </div>
          <div class="card-body" name="{{this._id}}">
            {{this.postContent}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>


<!-- Modal Delete Post -->
<div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletePostModalLabel">{{i18n "delete post label"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="deletePostForm" method="post">
          <div class="text-center">
            {{i18n "delete post"}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{i18n "close"}}</button>
            <button type="submit" class="btn btn-primary">{{i18n "delete"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Post -->
<div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPostModalLabel">{{i18n "edit post label"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editPostForm" method="post">
          <label for="editPostInput">{{i18n "post content"}}</label>
          <input type="text" id="editPostInput" name="editPostInput" class="form-control">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{i18n "close"}}</button>
            <button type="submit" class="btn btn-primary">{{i18n "edit"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script>
  setTimeout(function () {
    $('#flash').remove();
  }, 3000);
  var socket = io();
  var form = document.getElementById('form');
  var input = document.getElementById('input');
  var cards_content = document.getElementById('cardsContent');
  var sortSelect = document.getElementById('sort');
  var postActionSelect = document.getElementById("postActionSelect");
  sortSelect.addEventListener('change', function () {
    for (var i = 1; i < cards_content.childNodes.length; i++) {
      cards_content.insertBefore(cards_content.childNodes[i], cards_content.firstChild);
    }
  })

  function setSelect(event) {
    var select = document.getElementById(event.target.id);
    if (select.value != "default") {
      var stringArr = (select.value).split('/')
      if (stringArr[0] == "delete") {
        $('#deletePostForm').attr("action", "/posts/" + select.value);
        $('#deletePostModal').modal('show');
      } else {
        $('#editPostForm').attr("action", "/posts/" + select.value);
        var textValue = document.getElementsByName(stringArr[1])[0].textContent
        document.getElementById("editPostInput").value = textValue.replace(/[\n\r]+|[\s]{2,}/g, ' ').trim()
        $('#editPostModal').modal('show');
      }
    }
  };

  form.addEventListener('submit', function (e) {
    e.preventDefault();
    if (input.value) {
      socket.emit("new post", input.value, "{{userID}}", "{{username}}");
      input.value = '';
    }
  });
  socket.on('new post', function (post, senderID, senderName) {
    var item = document.createElement('div');
    var card_header = document.createElement('div');
    var flex_div = document.createElement('div');
    var sub_flex_div = document.createElement('div');
    var avatar = document.createElement('div');
    var img = document.createElement('img');
    var card_body = document.createElement('div');
    var name_ref = document.createElement('a');
    var br = document.createElement('br');
    var date = new Date();
    var text = document.createTextNode(date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear() + " " + date.getHours() + ":" + date.getMinutes())

    item.className = "card mx-auto";
    flex_div.className = "d-flex flex-row";
    sub_flex_div.className = "pl-2";
    card_header.className = "card-header bg-light";
    avatar.className = "position-relative avatar";
    img.className = "img-fluid rounded-circle";
    img.src = "/images/user.png";
    img.alt = "";
    avatar.appendChild(img);
    flex_div.appendChild(avatar)
    if ("{{userID}}" == senderID) {
      name_ref.href = "/users/myProfile"
    } else {
      name_ref.href = "/users/user/" + senderID;
    }
    name_ref.textContent = senderName;
    sub_flex_div.appendChild(name_ref);
    sub_flex_div.appendChild(br);
    sub_flex_div.appendChild(text)
    flex_div.appendChild(sub_flex_div)
    card_header.appendChild(flex_div);
    card_body.className = "card-body";
    card_body.textContent = post;
    item.appendChild(card_header)
    item.appendChild(card_body)
    if (sortSelect.value == "newest") {
      cards_content.prepend(item);
    } else {
      cards_content.appendChild(item);
    }
    var origcolor = card_body.style.backgroundColor;
    card_body.style.backgroundColor = "yellow"
    setTimeout(function () {
      card_body.style.backgroundColor = origcolor;
    }, 3000)
  });

  socket.on('error occurred', function(userID) {
    if("{{userID}}" == userID) {
      alert("{{i18n "post error"}}")
    }
  })
</script>