{{> navbar_index}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{flash.text}}</strong>
</div>
{{/if}}

<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">{{ username }}</h5>
            </div>
            <small>{{i18n "personal info"}}</small>
            <p class="card-text">
                {{#if info}}
                {{ info }}
                {{else}}
                No personal info :(
                {{/if}}
            </p>
            <hr class="solid">
            <small>{{i18n "email"}}</small><br>
            {{ email }}
            <hr class="solid">
            <small>{{i18n "on chatapp since"}}</small><br>
            {{ created }}
            <hr class="solid">
            <div class="text-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#personalInfoModal"><i
                        class="far fa-edit"></i> {{i18n "information"}}</button>
                <hr class="solid">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#deleteAccountModal">{{i18n "delete account"}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Personal Info Modal -->
<div>
    <div class="modal fade" id="personalInfoModal" tabindex="-1" role="dialog" aria-labelledby="personalInfoModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="personalInfoModal">{{i18n "edit personal info"}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/users/myProfile" method="post">
                        <label for="personalInfoText">{{i18n "personal info"}}</label>
                        <input type="text" id="personalInfoText" name="personalInfoText" class="form-control" value="{{info}}">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{i18n "close"}}</button>
                            <button type="submit" class="btn btn-primary">{{i18n "save changes"}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Delete Account Modal -->
<div>
    <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog"
        aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAccountModalLabel">{{i18n "delete account"}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/users/deleteAccount">
                        <div class="text-center">
                            {{i18n "delete account question"}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{i18n "close"}}</button>
                            <button type="submit" class="btn btn-primary">{{i18n "delete"}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script> 
    setTimeout(function () {
        $('#flash').remove();
    }, 3000);
</script>