{{> navbar_index}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{flash.text}}</strong>
</div>
{{/if}}

<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/user.png" width="60" height="90" alt="Card image cap">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">{{ username }} {{ surname }}</h5>
            </div>
            <small>Personal Info</small>
            <p class="card-text">
                {{#if info}}
                {{ info }}
                {{else}}
                No personal info :(
                {{/if}}
            </p>
            <hr class="solid">
            <small>Email</small><br>
            {{ email }}
            <hr class="solid">
            <small>On ChatApp since</small><br>
            {{ created }}
            <hr class="solid">
            <div class="text-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#personalInfoModal"><i
                        class="far fa-edit"></i> Information</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profilePicModal"><i
                        class="far fa-edit"></i> Photo</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 1/Edit personal info-->
<div>
    <div class="modal fade" id="personalInfoModal" tabindex="-1" role="dialog" aria-labelledby="personalInfoModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="personalInfoModal">Edit personal info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/users/myProfile" method="post">
                        <small>Personal info:</small>
                        <textarea style="width: 100%; resize: none;" rows="5" id="personalInfoText"
                            name="personalInfoText">
                        {{#if info}}
                        {{ info }}
                        {{/if}}
                        </textarea>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2/Edit profile picture -->
<div>
    <div class="modal fade" id="profilePicModal" tabindex="-1" role="dialog" aria-labelledby="profilePicModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profilePicModalLabel">Edit Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a href="/users/newPhoto">Take a photo</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
