{{> navbar_index}}

<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">{{ profileName }}</h5>
            </div>
            <small>{{i18n "personal info"}}</small>
            <p class="card-text">
                {{#if info}}
                {{ info }}
                {{else}}
                {{i18n "no personal info"}}
                {{/if}}
            </p>     
            <hr class="solid">
            <small>{{i18n "email"}}</small><br>
            {{ email }}
            <hr class="solid">
            <small>{{i18n "on chatapp since"}}</small><br>
            {{ created }}
        </div>
    </div>
</div>